body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgb(237, 237, 169),
    rgb(146, 239, 146),
    rgb(108, 108, 244)
  );
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#collisionCanvas {
  opacity: 0;
}
